<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - {{ subtitle }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Pontano+Sans" rel="stylesheet"> 
</head>

<body id="{{ slug }}">

<nav>
<section>
    <span class="home">
        <a href="{{ base_path }}/">Anton Johansson</a>
    </span>
    <span class="links">
        <a href="{{ base_path }}/blog/">Blog</a>
        <a href="{{ base_path }}/contact/">Contact</a>
        <a href="{{ base_path }}/about/">About</a>
    </span>
</section>
</nav>

<main>
{{ content }}
</main>

<footer>
<section>
<p>CC0 {{ current_year }}</p>
<p>
    <a href="https://keybase.io/antonjohansson">Keybase</a>
    <a href="https://github.com/johanssonanton">GitHub</a>
    <a href="https://www.example.com/">LinkedIn</a>
</p>
</section>
</footer>

</body>
</html>
